.footer__wraper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    &imgs {
        height: auto;
        width: 50%;
        &_img {
            height: auto;
            width: 100%;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        width: 50%;

        &_card {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            &_title {
                display: flex;
                flex-direction: column;
                width: 150px;
                &_heading {
                    margin-bottom: 15px;
                }
                &_para {
                    opacity: $opacity;
                    font-size: 14px;
                    line-height: 30px;
                    cursor: pointer;
                }
                &_icon {
                    &_img {
                        opacity: $opacity;
                        margin: 4px;
                    }
                }
            }
        }
    }
}

.fa-plus {
    display: none;
}
@media (max-width: 992px) {
    .footer__wraper {
        flex-direction: column;
        &_imgs {
            margin-bottom: 30px;
        }
        &_content {
            width: 100%;
        }
    }

    .hidden_para {
        display: none;
    }

    .drop_content {
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }
    .drop_title {
        width: 100%;
        margin: 10px 0px;
        border: 1px solid #a3a5a4cc;
    }
    .drop_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 5px;
    }
    .fa-plus {
        display: flex;
        opacity: $opacity;
    }
    .connect_title {
        align-items: center;
        width: 50%;
    }
    .connect_us {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
    }
    .call_us {
        order: -1;
    }
    .connect_app {
        margin-top: 20px;
        text-align: center;
    }
}
