.footerbar_section{
    border-top: 1px solid #a3a5a4cc;
}

.footerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    
    font-size: 12px;
    opacity: $opacity;
    &_media {
        &_img {
            padding-left: 15px;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 600px) {
    .footerbar {
        flex-direction: column-reverse;
        width: 100%;

        &_media {
            margin-bottom: 10px;
        }
    }
}
