@import "colors";
.fourth_section {
    background-image: linear-gradient(0deg, #e4e9e8 0%, #fdfdfd 10%);
}
.fourth__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    padding-top: 80px;
    text-align: center;
    &_heading {
        font-size: 35px;
    }
    &_para {
        opacity: $opacity;
        line-height: 29px;
        margin-bottom: 30px;
        margin-top: 15px;
        max-width: 420px;
        font-size: 17px;
    }
    &_imwrap {
        margin: 25px 0px;
        &_img {
            cursor: pointer;
        }
    }
}
