@import "colors";

.gapsection {
    background-color: $theme_c;
}

.inbtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    &_contnt {
        font-size: 17px;
        line-height: 29px;
        max-width: 50%;
    }
    &_h {
        margin-bottom: 23px;
    }
    &_p {
        font-size: 17px;
        line-height: 29px;
        opacity: $opacity;
    }
    &_img {
        display: flex;
        justify-content: space-between;
        width: 35%;

        &_fig {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 110px;
            height: 110px;
            border: 1px solid rgba(0, 208, 156, 0.2);
            border-radius: 6px;
        }
        &_caption {
            font-size: 16px;
            line-height: 19px;
            opacity: $opacity;
            margin-top: 10px;
        }
    }
}
@media (max-width: 992px) {
    .inbtwn {
        flex-wrap: wrap;
        justify-content: center;
        &_contnt {
            min-width: 75%;
            margin-bottom: 20px;
        }
        &_img {
            min-width: 75%;
        }
    }
}
@media (max-width: 768px) {
    .inbtwn {
        flex-wrap: wrap;
        justify-content: center;
        &_contnt {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &_img {
            min-width: 100%;
        }
    }
}
