@import "colors";

.header_nav {
    background-color: $theme_c;
    width: 100%;
}

.header_wraper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    font-size: 12px;
    &_list {
        margin-left: 10px;
        font-weight: bolder;
        cursor: pointer;
        &_label {
            font-weight: lighter;
            &_lang {
                border: none;
                outline: none;
                background-color: $theme_c;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}
#blog {
    padding: 0px 10px;
    border-right: 1px solid #00d09c33;
    border-left: 1px solid #00d09c33;
}
@media (max-width: 768px) {
    .header_nav {
        display: none;
    }
}
