@import "colors";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;

    &_content {
        display: flex;
        align-items: center;
        font-weight: normal;
        &_search {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 40px;
            width: 240px;
            border-radius: 6px;
            background-color: $search_area;
            &_wrap {
                width: 100%;
                padding: 0px 10px;
                &_glass {
                    opacity: 50%;
                }
                &_input {
                    padding: 0px 10px;
                    font-size: 14px;
                    width: 90%;
                    border: none;
                    outline: none;
                    background-color: $search_area;
                }
            }
        }

        &_list {
            margin-left: 20px;
        }
    }
    &_burger {
        display: none;
    }
}
.login {
    font-weight: bolder;
}
.underline {
    position: relative;
    padding-bottom: 2px;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        background-color: $button_c;
        transform: scaleX(0);
        transition: transform 0.4s ease;
    }

    &:hover::before {
        transform: scaleX(1);
    }
}

@media (max-width: 992px) {
    .nav_burger {
        display: block;
        font-size: 25px;
    }
    .nav_content_list {
        display: none;
    }
}

@media (max-width: 576px) {
    .nav {
        flex-wrap: wrap;
    }

    .nav_content {
        padding-top: 20px;
        order: 3;
        flex-grow: 1;
        &_search {
            width: 100%;
        }
    }
    .nav_burger {
        margin-left: 30%;
        display: flex;
    }
}
