@import "colors";

.second__wraper {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_right {
        width: 45%;
        display: flex;
        flex-direction: column;

        &_h6 {
            font-size: 17px;
            line-height: 28px;
            opacity: $opacity;
        }
        &_h2 {
            font-size: 39px;
            line-height: 52px;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        &_listdot {
            padding-left: 30px;
            list-style-image: url("/assets/images/ok.svg");

            &_p {
                font-size: 17px;
                line-height: 30px;
                opacity: $opacity;
                text-align: left;
                padding-left: 10px;
            }
        }
        &_btn {
            margin-bottom: 80px;
            &_b1 {
                margin-top: 50px;
                font-size: 18px;
                text-align: center;
                background-color: $button_c;
                border-radius: 4px;
                width: 150px;
                height: 50px;
                border: none;
                cursor: pointer;
                color: $button_lc;
                &:hover {
                    background-color: #008000;
                }
            }
            &_b2 {
                display: inline-flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 18px;
                font-weight: bold;
                background-color: $button_lc;
                border-radius: 4px;
                margin-left: 5px;
                width: 150px;
                height: 50px;
                color: $button_c;
                cursor: pointer;
                border: none;
            }
            &_b2:hover {
                color: #ffffff;
                background-color: #008000;
            }
        }
    }
}

@media (max-width: 992px) {
    .second__wraper {
        flex-wrap: wrap;

        &_right {
            width: 100%;
            margin-top: 30px;
        }
    }
    #guru {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    .second__wraper {
        &_right {
            width: 100%;
            margin-top: 30px;
        }
    }
}
