@import "colors";

.super {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    &_left {
        display: flex;
        flex-direction: column;

        &_title {
            font-weight: normal;
            font-size: 40px;
            line-height: 47.95px;
            max-width: 405px;
            &_easy {
                font-weight: bolder;
                box-shadow: inset 0px -12px 0 0px #82ebc3;
                cursor: pointer;
            }
        }
        &_para {
            font-size: 17px;
            line-height: 29px;
            opacity: $opacity;
            margin-top: 30px;
            max-width: 475px;

            &_users {
                font-weight: bolder;
            }
        }
        &_startnow {
            font-size: 17px;
            text-align: center;
            background-color: $button_c;
            border-radius: 4px;
            width: 209px;
            height: 50px;
            border: none;
            color: $button_lc;
            margin-top: 50px;
            cursor: pointer;
            &:hover {
                background-color: #008000;
            }
        }
    }
    &_right {
        height: auto;
        width: 50%;
        &_lady {
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 992px) {
    .super {
        flex-wrap: wrap;
&_left{
    width: 100%;
}
        &_right {
            height: auto;
            width: 100%;
            margin-top: 50px;
        }
    }
}
@media (max-width: 768px) {
    .super {
        &_right {
            display: none;
        }
    }
}
