@import "colors";
.third__section {
    background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.third__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;

    &_left {
        display: flex;
        flex-direction: column;
        width: 50%;

        &_expert {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &_expertpara {
            margin-bottom: 30px;
            opacity: $opacity;
        }
        &_cwraper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_side {
                &_easy {
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                &_three {
                    line-height: 29px;
                    opacity: $opacity;
                    margin-bottom: 0px;
                    width: 80%;
                }
                &_btn {
                    margin: 50px 0px;
                    font-size: 18px;
                    text-align: center;
                    background-color: $button_c;
                    border-radius: 4px;
                    width: 150px;
                    height: 50px;
                    border: none;
                    color: $button_lc;
                    cursor: pointer;
                    &:hover {
                        background-color: #008000;
                    }
                }
            }
        }
    }
    &_right {
        height: auto;
        width: 50%;
        &_img {
            height: auto;
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .third__wraper {
        flex-wrap: wrap;

        &_left {
            width: 100%;
            &_cwraper {
                flex-wrap: wrap;
                &_side {
                    width: 100%;
                }
            }
        }
        &_right {
            height: auto;
            width: 100%;
            &_img {
                height: auto;
                width: 100%;
            }
        }
    }
}
