@import "container";
@import "colors";
@import "navtop";
@import "navbar";
@import "super_content";
@import "inbetween";
@import "second_session";
@import "third_session";
@import "fourth_session";
@import "footer";
@import "footerbar";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: $font_c;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}
ul li {
    list-style-type: none;
    
}

