.container {
  margin: auto;
  padding: 0px 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.header_nav {
  background-color: #E4FAF4;
  width: 100%;
}

.header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  font-size: 12px;
}

.header_wraper_list {
  margin-left: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.header_wraper_list_label {
  font-weight: lighter;
}

.header_wraper_list_label_lang {
  border: none;
  outline: none;
  background-color: #E4FAF4;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#blog {
  padding: 0px 10px;
  border-right: 1px solid #00d09c33;
  border-left: 1px solid #00d09c33;
}

@media (max-width: 768px) {
  .header_nav {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
}

.nav_content_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  width: 240px;
  border-radius: 6px;
  background-color: whitesmoke;
}

.nav_content_search_wrap {
  width: 100%;
  padding: 0px 10px;
}

.nav_content_search_wrap_glass {
  opacity: 50%;
}

.nav_content_search_wrap_input {
  padding: 0px 10px;
  font-size: 14px;
  width: 90%;
  border: none;
  outline: none;
  background-color: whitesmoke;
}

.nav_content_list {
  margin-left: 20px;
}

.nav_burger {
  display: none;
}

.login {
  font-weight: bolder;
}

.underline {
  position: relative;
  padding-bottom: 2px;
}

.underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #00D09C;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.underline:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 992px) {
  .nav_burger {
    display: block;
    font-size: 25px;
  }
  .nav_content_list {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav_content {
    padding-top: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav_content_search {
    width: 100%;
  }
  .nav_burger {
    margin-left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.super {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.super_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.super_left_title {
  font-weight: normal;
  font-size: 40px;
  line-height: 47.95px;
  max-width: 405px;
}

.super_left_title_easy {
  font-weight: bolder;
  -webkit-box-shadow: inset 0px -12px 0 0px #82ebc3;
          box-shadow: inset 0px -12px 0 0px #82ebc3;
  cursor: pointer;
}

.super_left_para {
  font-size: 17px;
  line-height: 29px;
  opacity: 0.7;
  margin-top: 30px;
  max-width: 475px;
}

.super_left_para_users {
  font-weight: bolder;
}

.super_left_startnow {
  font-size: 17px;
  text-align: center;
  background-color: #00D09C;
  border-radius: 4px;
  width: 209px;
  height: 50px;
  border: none;
  color: #ffffff;
  margin-top: 50px;
  cursor: pointer;
}

.super_left_startnow:hover {
  background-color: #008000;
}

.super_right {
  height: auto;
  width: 50%;
}

.super_right_lady {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .super {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .super_left {
    width: 100%;
  }
  .super_right {
    height: auto;
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .super_right {
    display: none;
  }
}

.gapsection {
  background-color: #E4FAF4;
}

.inbtwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inbtwn_contnt {
  font-size: 17px;
  line-height: 29px;
  max-width: 50%;
}

.inbtwn_h {
  margin-bottom: 23px;
}

.inbtwn_p {
  font-size: 17px;
  line-height: 29px;
  opacity: 0.7;
}

.inbtwn_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.inbtwn_img_fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.inbtwn_img_caption {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .inbtwn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inbtwn_contnt {
    min-width: 75%;
    margin-bottom: 20px;
  }
  .inbtwn_img {
    min-width: 75%;
  }
}

@media (max-width: 768px) {
  .inbtwn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inbtwn_contnt {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .inbtwn_img {
    min-width: 100%;
  }
}

.second__wraper {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__wraper_right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second__wraper_right_h6 {
  font-size: 17px;
  line-height: 28px;
  opacity: 0.7;
}

.second__wraper_right_h2 {
  font-size: 39px;
  line-height: 52px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.second__wraper_right_listdot {
  padding-left: 30px;
  list-style-image: url("/assets/images/ok.svg");
}

.second__wraper_right_listdot_p {
  font-size: 17px;
  line-height: 30px;
  opacity: 0.7;
  text-align: left;
  padding-left: 10px;
}

.second__wraper_right_btn {
  margin-bottom: 80px;
}

.second__wraper_right_btn_b1 {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #00D09C;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.second__wraper_right_btn_b1:hover {
  background-color: #008000;
}

.second__wraper_right_btn_b2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 5px;
  width: 150px;
  height: 50px;
  color: #00D09C;
  cursor: pointer;
  border: none;
}

.second__wraper_right_btn_b2:hover {
  color: #ffffff;
  background-color: #008000;
}

@media (max-width: 992px) {
  .second__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second__wraper_right {
    width: 100%;
    margin-top: 30px;
  }
  #guru {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .second__wraper_right {
    width: 100%;
    margin-top: 30px;
  }
}

.third__section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.third__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
}

.third__wraper_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.third__wraper_left_expert {
  font-size: 40px;
  margin-bottom: 20px;
}

.third__wraper_left_expertpara {
  margin-bottom: 30px;
  opacity: 0.7;
}

.third__wraper_left_cwraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third__wraper_left_cwraper_side_easy {
  margin-top: 30px;
  margin-bottom: 20px;
}

.third__wraper_left_cwraper_side_three {
  line-height: 29px;
  opacity: 0.7;
  margin-bottom: 0px;
  width: 80%;
}

.third__wraper_left_cwraper_side_btn {
  margin: 50px 0px;
  font-size: 18px;
  text-align: center;
  background-color: #00D09C;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.third__wraper_left_cwraper_side_btn:hover {
  background-color: #008000;
}

.third__wraper_right {
  height: auto;
  width: 50%;
}

.third__wraper_right_img {
  height: auto;
  width: 100%;
}

@media (max-width: 992px) {
  .third__wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .third__wraper_left {
    width: 100%;
  }
  .third__wraper_left_cwraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .third__wraper_left_cwraper_side {
    width: 100%;
  }
  .third__wraper_right {
    height: auto;
    width: 100%;
  }
  .third__wraper_right_img {
    height: auto;
    width: 100%;
  }
}

.fourth_section {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e4e9e8), color-stop(10%, #fdfdfd));
  background-image: linear-gradient(0deg, #e4e9e8 0%, #fdfdfd 10%);
}

.fourth__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 50px;
  padding-top: 80px;
  text-align: center;
}

.fourth__wraper_heading {
  font-size: 35px;
}

.fourth__wraper_para {
  opacity: 0.7;
  line-height: 29px;
  margin-bottom: 30px;
  margin-top: 15px;
  max-width: 420px;
  font-size: 17px;
}

.fourth__wraper_imwrap {
  margin: 25px 0px;
}

.fourth__wraper_imwrap_img {
  cursor: pointer;
}

.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.footer__wraperimgs {
  height: auto;
  width: 50%;
}

.footer__wraperimgs_img {
  height: auto;
  width: 100%;
}

.footer__wraper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.footer__wraper_content_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer__wraper_content_card_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.footer__wraper_content_card_title_heading {
  margin-bottom: 15px;
}

.footer__wraper_content_card_title_para {
  opacity: 0.7;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.footer__wraper_content_card_title_icon_img {
  opacity: 0.7;
  margin: 4px;
}

.fa-plus {
  display: none;
}

@media (max-width: 992px) {
  .footer__wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wraper_imgs {
    margin-bottom: 30px;
  }
  .footer__wraper_content {
    width: 100%;
  }
  .hidden_para {
    display: none;
  }
  .drop_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  .drop_title {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #a3a5a4cc;
  }
  .drop_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 15px 5px;
  }
  .fa-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.7;
  }
  .connect_title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .connect_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  .call_us {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .connect_app {
    margin-top: 20px;
    text-align: center;
  }
}

.footerbar_section {
  border-top: 1px solid #a3a5a4cc;
}

.footerbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  font-size: 12px;
  opacity: 0.7;
}

.footerbar_media_img {
  padding-left: 15px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .footerbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .footerbar_media {
    margin-bottom: 10px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222222;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

ul li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */